<div class="animate-fadeInDelay opacity-0 w-min rounded-full border-black border-[1px] flex items-center justify-center px-8 py-4">
    <span class="font-medium text-lg">hello@shanedavis.co.uk</span>
</div>