---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
const { title, pubDate, heroImage, slug, category } = Astro.props
---
<div class="relative p-0 lg:p-4">
    <Image src={heroImage as string} alt={title} width={1000} height={800} class={'object-cover rounded-sm w-full'}/>
    <a href={`/blog/${slug}/`} class="absolute bottom-0 left-0 p-4 lg:p-8 text-white">
        <h2 class="text-2xl lg:text-4xl  lg:px-2">{title}</h2>
        <p class="date text-sm font-semibold py-2">
            <FormattedDate date={pubDate} />
        </p>
    </a>
</div>
