---
const currentPath = Astro.url.pathname

console.log(currentPath)
---

<nav>
    <div class="container flex justify-between lg:grid lg:grid-cols-12 py-6 items-center font-medium text-lg">
        <div class="logo">
            <h2 class="text-lg font-medium"><a href="/">SD</a></h2>
        </div>

        <div class="hidden lg:block col-start-3 col-span-3">
            <span>Booking projects from March 2024</span>
        </div>

        <div class="col-start-10 lg:col-start-9 col-span-2 flex gap-2">
            <ul class="flex gap-2">
                <a href="/projects">projects,</a>
                <a href="/about">about,</a>
                <!-- <a href="/blog">blog </a> -->
            </ul>
        </div>

        <div class="lg:col-start-11 lg:col-span-3 text-right hidden lg:block">
            <span class="underline">hello@shanedavis.co.uk</span>
        </div>
    </div>
</nav>