---
import FormattedDate from '../components/FormattedDate.astro';
const { title, pubDate, slug, excerpt, category, heroImage } = Astro.props
---


<div class="py-4">
<!-- <div class="py-4 border-b-red-900 border-b-2"> -->
    <a href={`/blog/${slug}/`}>
        <div class="flex gap-4 pb-4 items-center justify-between">
            <h2 class="text-2xl font-bold">{title}</h4>
            <p class="date text-smfont-medium">
                (<FormattedDate date={pubDate} />)
            </p>
        </div>
        <p class="text-gray-800">
            {excerpt}
        </p>
    </a>
</div>