---
const services = [
    {
        title: 'Information architecture',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officiis incidunt in repellendus quas totam velit unde, iste ex non?'
    },
    {
        title: 'Web design',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officiis incidunt in repellendus quas totam velit unde, iste ex non?'
    },
    {
        title: 'Web development',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officiis incidunt in repellendus quas totam velit unde, iste ex non?'
    }
]
---

<div class="flex flex-col lg:grid lg:grid-cols-12 gap-8 lg:gap-y-24 col-rows-3 py-12">
   {services.map((service, index) =>
   <div class="col-start-1 col-span-12 h-px bg-gray-200"></div>
    <span class="hidden lg:block col-start-1 col-span-1">0{index+1}.</span>
    <span class="text-3xl w-2/3 lg:w-full lg:text-4xl font-medium col-start-3 col-span-3">{service.title}</span>
    <p class="text-gray-500 font-medium col-start-8 col-span-4 pb-24 lg:mb-0">
        {service.description}
    </p>
   )}
    <div class="col-start-1 col-span-12 h-px bg-gray-200"></div>
</div>