---
const services = [
    {
        title: 'App Architecture and User Journey Mapping',
        description: "We meticulously plan the architecture of your mobile app by examining the content and functionalities essential for user engagement and conversion. Our strategic approach includes mapping out user journeys specifically designed for iOS and Android platforms, ensuring that your app delivers a seamless experience tailored to different user preferences and behaviors."
    },
    {
        title: 'App Design and Visual Identity',
        description: "Whether enhancing an existing visual identity or creating a new one, our design process is comprehensive. From art direction to the final design, we ensure your app resonates with your target audience while providing a flawless experience on both iOS and Android devices. Our designs prioritise responsiveness and aesthetic coherence across all platforms."
    },
    {
        title: 'Mobile Development and Enhanced Interactivity',
        description: "Our development phase brings your mobile app to life with smooth transitions, engaging animations, and interactive elements that captivate users. We build using native iOS and Android development practices as well as React Native, allowing us to choose the best approach based on your project needs. This ensures high performance, quick load times, and a delightful user experience that aligns with your strategic brand vision."
    }
]
---

<div class="flex flex-col lg:grid lg:grid-cols-12 gap-8 lg:gap-y-12 col-rows-3 pt-24">
   {services.map((service, index) =>
   <div class="col-start-1 col-span-12 h-px bg-gray-200"></div>
    <span class="hidden lg:block col-start-1 col-span-1">0{index+1}.</span>
    <span class="text-3xl w-2/3 lg:w-full lg:text-4xl font-medium col-start-3 col-span-3">{service.title}</span>
    <p class="text-gray-500 font-medium col-start-8 col-span-4 pb-12 lg:mb-0">
        {service.description}
    </p>
   )}
    <div class="col-start-1 col-span-12 h-px bg-gray-200"></div>
</div>